.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
}

/* Left pane (Hierarchy) */
.paneLeft {
  min-width: 100px;
  max-width: 600px;
  height: 100%;
  display: flex;
}

/* Center pane grows to fill remaining width (Scene) */
.paneCenter {
  flex: 1 1 auto;
  min-width: 200px;
  height: 100%;
  display: flex;
}

/* Right pane (Inspector) */
.paneRight {
  min-width: 100px;
  max-width: 600px;
  height: 100%;
  display: flex;
}

/* Gutters between panes */
.gutter {
  width: 2px;
  cursor: col-resize;
  position: relative;
  background-color: #24344d;
  z-index: 10;
  
}

/* A subtle 1px line centered in the gutter */
.gutter::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-0.5px);
  width: 1px;
  height: 100%;
  background: #1b263b;
  opacity: 0.8;
}

.gutter:hover::after {
  background: #3b4d6b;
}